<div class="splash-box">
    <div class="splash-text">
      Welcome To Mixed Bag
    </div>
    <div class="splash-sub-text">
      Easily order food with your friends from multiple devices
    </div>
    <div class="enter-button">
      Get Started
    </div>
    <div class="disclaimer">
      <p> This site uses the <a href="http://delivery.com"> Delivery.com </a> API. </p>
      <p> Site development by Avi Zacherman. </p>
      <p> Follow development at the <a href="http://github.com/Avizacherman/mixed-bag"> Github Repo </a> </p>
    </div>
  </div>

</div>
