<div class="spalsh-image">
  <div class="splash-text">
    Welcome To Mixed Bag
  </div>
  <div class="splash-sub-text">
    Easily order food with your friends from multiple devices
  </div>
  <div class="enter-button">
    Get Started
  </div>
</div>
</div>
