<div class="splash-background">
</div>

<div class="splash-box">
  <div class="splash-text">
      Welcome To Mixed Bag
    <div class="splash-sub-text">
      Easily order food with your friends from multiple devices
    </div>
    <div class="enter-button">
      Get Started
    </div>
  </div>
    <div class="disclaimer">
      This site uses the <a href="http://delivery.com"> Delivery.com </a> API. |
       Site development by Avi Zacherman. |
      Follow development at the <a href="http://github.com/Avizacherman/mixed-bag"> Github Repo </a>
    </div>
</div>
