<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{#if splash}}
      <link rel='stylesheet' href='/stylesheets/splash.css' />
    {{else}}
      <link rel='stylesheet' href='/stylesheets/style.css' />
    {{/if}}
  </head>
  <body>
    {{{body}}}


  </body>
</html>
