@import "partials/bourbon_and_robot";

body {
  font: 1em Roboto;
}


.splash-background {
  position:  fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: url("http://thumbs.dreamstime.com/z/group-friends-sitting-around-table-having-dinner-party-smiling-to-camera-holding-glass-white-wine-35610523.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

div {

&.splash-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;

    .disclaimer {
      display: flex;
      align-self: center;

        font-size: .33em;
  
      a{
        text-decoration: none;
   }
  }
 }
}
